# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/

# Node / React
node_modules/
build/
dist/

# Git / Docker
.git
.gitignore

# Logs / temp
*.log
*.tmp

# Large datasets / models
backend/models/*
!backend/models/.gitkeep
data/
